
#top-of-page-heading {
  text-align: center;
}

.movie-title-list:hover {
  color: aliceblue;
  
  }

.book-title-list:hover {
  color: aliceblue;
}

  #book-container {
    background-color: lightblue;
    display: flex;
    width: 33%;
  }

  #movie-container {
    background-color: darkcyan;
    display: flex;
    width: 33%;
  }

  #list-container {
    display: flex;
  }

  #center-container {
    background-color: aliceblue;
    display: flex; 
    width: 34%;
    align-items: center;
    justify-content: space-around;
    
   
  }

  .image-in-center-container {
    display: flex; 
    width: 100%;
    height: 100%
  }

  .selected-media-information-container {
    display: flex;
  }

  .selected-media-one {
    display: flex;
    width: 33%
  }

  .selected-media-two {
    display: flex; 
    width: 34%;
    justify-content: center;
    align-content: flex-start;
    
  }

  .selected-media-three {
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;
  }

  #delete-button {
  border: 10%;
  border-style: solid;
  border-color: darkcyan;
    
  }

  #selected-media-title {
    text-align: center;
  }

  .search-result-titles {
    font-weight: bold;
  }

 






